<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.day28">

    <application
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".database.login.LoginVerifierActivity" />
        <activity android:name=".database.profile.EditErProfileActivity" />
        <activity android:name=".database.profile.ErProfileActivity" />
        <activity android:name=".database.profile.EditProfileActivity" />
        <activity android:name=".user.ErlistActivity" />
        <activity android:name=".database.profile.ProfileActivity" />
        <activity android:name=".engineer.ErMainActivity" />
        <activity android:name=".user.UserMainActivity" />
        <activity android:name=".database.register.UserErVerifierActivity" />
        <activity android:name=".database.register.ErRegisterActivity" />
        <activity android:name=".database.register.UserRegisterActivity" />
        <activity android:name=".database.login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>